.Help {
	margin-bottom: 100px;
	.container {
		display: flex;
	}
	.navigation {
		background-color: #083d60;
		border: 1px solid #020c13;
		padding: 10px;
		margin-bottom: 20px;
	}

	.navigation a {
		margin-right: 10px;
		text-decoration: none;
		color: #ffffff;
		font-weight: bold;
		transition: color 0.3s;
		.db {
			color: #020c13;
		}
		&:hover {
			color: #020c13;

			.db {
				color: #fff;
			}
		}
	}

	i {
		font-size: 20px;
	}

	p {
		line-height: 1.3;
	}

	h3 {
		margin-top: 50px;
	}

	.liIcon {
		margin-bottom: -7px;
	}

	.li {
		align-items: center;
	}
}
