.Profile {
	h1 {
		font-size: 50px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.orgs {
		display: flex;
		flex-direction: column;
		.create {
			max-width: 150px;
		}
	}
	.orgItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		p {
			font-size: 20px;
			line-height: 20px;
			font-weight: bold;
			min-width: 300px;
		}
		* {
			margin-right: 15px;
		}
	}
}
