.subtitle {
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
}
.Home {
	margin-bottom: 100px;
	.helpIcon {
		margin-left: 10px;
	}
}

.userStudy {
	padding: 20px;
	background-color: #083d60;
	color: white;
	width: 50%;
	a {
		color: white;
	}
	font-size: 20px;
	border-radius: 15px;
	border: 2px solid white;
	box-shadow: 5px 5px 5px #0000008c;
	margin-bottom: 50px;
}
